* {
	box-sizing: border-box;
    margin: 0px;
    background: transparent;
    background-image: none;
}

.tiled-background {
    background-image: url("resources/fundo-jogo.png");
    background-repeat: repeat;
}

#cow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 10;
}

.arrow {
    touch-action: none;
    position: absolute;
    bottom: 0px;
    margin: 20px;
    z-index: 11;
}

#left-arrow {
    left: 0%;
    opacity: 0.2;
}

#right-arrow {
    right: 0%;
    opacity: 0.2;
}

.enemy {
    position: absolute;
    opacity: 0.75;
    top: 0%;
}

.friend {
    position: absolute;
    opacity: 0.75;
    top: 0%;
}
