<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cow Moo Moo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ending.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="tiled-background">

    <div class="ending">
        <img id="ending-cow" src="{{ url_for('static', filename='resources/dead_cow.png') }}">
        <p>
            Bzzzzzt (isto é o ruído de um robô ok?) Esta mensagem é do futuro e aqui estamos com a água escassa, 
            a fauna animal não sobrou e o que restou foram algumas baratas (Afinal, elas sobreviveram ao Big Bang), 
            no dia em que você está lendo essa mensagem, sete bilhões de pessoas estão comendo 70 bilhões de animais, 
            65% da área desmatada na Floresta Amazônica está sendo usada para pastos e os humanos estão enfrentando uma 
            pandemia mundial. Nós do futuro decidimos mandar essa mensagem para vocês, para que façam a escolha certa. 
            O peso de uma decisão não está em um jogo, mas sim na escolha a ser tomada por cada indivíduo que habita 
            neste planeta. Aqui no futuro aprendemos a comer a carne do futuro, feita totalmente de plantas e estamos 
            te dando um cupom de desconto para fazer sua escolha: <span class="coupom">R$20OFF</span> Fazenda Futuro.
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
