<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cow Moo Moo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ending.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="tiled-background">

    <div class="ending">
        <img id="ending-cow" src="{{ url_for('static', filename='resources/live_cow.png') }}">
        <p>
            Bzzzzzt (isto é o ruído de um robô ok?) Esta mensagem é do futuro e aqui o mundo é lindo! 
            Hoje nossas vaquinhas viraram animais de estimação, a fauna animal aumenta a cada dia e a 
            cada ano  descobrimos uma nova espécie. A água do mundo sobra, e muito. Ninguém passa fome 
            hoje em dia, afinal, a melhor carne do mundo é feita de plantas. A felicidade irradia em 
            cada esquina e o sorriso de cada terrestre demonstra isso. Este mundo paradisíaco só foi 
            possível por causa de escolhas como a sua. A escolha de mudar o mundo e fazer deste lugar, 
            um lugar melhor. Continue ajudando a nossa amiga Terra e para ficar melhor, que tal fazer 
            um churrasco hoje mesmo? pega esse descontão <span class="coupom">R$20OFF</span> Fazenda Futuro. Você fez a sua escolha 
            e isso muda o mundo. Não deixe para amanhã, a escolha que você pode fazer hoje!
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
